@import url(https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap);
@import "nullstyle.css";

.header {
	margin: 0px 0px 65px 0px;
}
.header__container {
	max-width: 810px;
	margin: 0px auto;
	font-family: "Lato";
	font-size: 0px;
	padding: 35px 0px 0px 0px;
}
.header__logo {
	display: inline-block;
	margin: 0px 60px 0px 0px;
}
.header__logo img {
	display: block;
}
.header__menu {
	display: inline-block;
}
.header__list {
	font-size: 0;
}
.header__list li {
	margin: 0px 40px 0px 0px;
	display: inline-block;
	color: #424551;
	font-weight: bold;
	font-size: 16px;
	line-height: 1.6;
}
.header__list li:nth-child(4) {
	color: #ff3f3a;
}
.header__list li:last-child {
	margin: 0px 0px 0px 0px;
	border: 1px solid #000;
}
.header__list li:last-child:hover {
	box-shadow: 5px 5px 5px #1e212c;
}
.header__list li:last-child:active {
	margin: 0px 0px 0px 0px;
	box-shadow: 3px 3px 3px #1e212c;
}
.content__container {
	max-width: 810px;
	margin: 0px auto;
	font-family: "Lato";
	font-size: 0px;
	line-height: 1.6;
	color: #424551;
}
.content {
	margin: 0px 0px 40px 0px;
}
.content__title {
	margin: 0px 0px 40px 0px;
}
.header-title {
	margin: 0px 0px 9px 0px;
}
.header-title__article {
	display: inline-block;
	font-size: 16px;
}
.header-title__article::before {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url("../img/icon/file.svg") 0 0 no-repeat;
	margin: 0px 8px -2px 0px;
}
.header-title__article::after {
	content: "";
	display: inline-block;
	width: 1px;
	height: 16px;
	background: url("../img/icon/divider.svg") 0 0 no-repeat;
	margin: 0px 12px -2px 12px;
}

.header-title__hr {
	display: inline-block;
	font-weight: 700;
	color: #ff3f3a;
	font-size: 16px;
}

.body-title h1 {
	font-weight: 900;
	font-size: 46px;
	line-height: 1.3;
	color: #1e212c;
}
.body-title {
	margin: 0px 0px 26px 0px;
}
.footer-title {
	font-size: 16px;
	line-height: 1.6;
	color: #787a80;
}
.footer-title__date {
	display: inline-block;
	margin: 0px 24px 0px 0px;
}
.footer-title__date::before {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url("../img/icon/Stroke.svg") 0 0 no-repeat;
	margin: 0px 8px -2px 0px;
}
.footer-title__time {
	display: inline-block;
}
.footer-title__time::before {
	display: inline-block;
	content: "";
	width: 16px;
	height: 16px;
	background: url("../img/icon/clock.svg") 0 0 no-repeat;
	margin: 0px 8px -2px 0px;
}
.footer-title__share {
	display: block;
	width: 142px;
	margin: -26px 0px 0px auto;
}
.share {
	color: #1e212c;
	font-weight: bold;
	font-size: 16px;
	line-height: 1.6;
}
.share__title {
	display: inline-block;
	margin: 0px 12px 0px 0px;
}
.share__logo {
	display: inline-block;
	margin: 0px 12px 0px 0px;
}
.footer-title__share div:last-child {
	margin: 0px 0px 0px 0px;
}
.content__image {
	display: inline-block;
	margin: 0px 0px 60px 0px;
}

.text-content {
	font-size: 16px;
	line-height: 1.6;
	color: #424551;
}
.text-content__bold {
	font-weight: bold;
	font-size: 20px;
	line-height: 1.5;
	color: #1e212c;
}
.text-content__bold_m24 {
	margin: 0px 0px 24px 0px;
}
.text-content__bold_quote {
	background: url("../img/icon/braces.svg") 0px 0px no-repeat;
	padding: 0px 0px 0px 58px;
	margin: 0px 0px 48px 0px;
}
.text-content_m24 {
	margin: 0px 0px 24px 0px;
}
.text-content_m48 {
	margin: 0px 0px 48px 0px;
}
.text-content__list {
	padding: 0px 0px 0px 32px;
}
.text-content__list li {
	margin: 0px 0px 4px 0px;
}
.text-content__list li:last-child {
	margin: 0px 0px 0px 0px;
}
.text-content__list li::before {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url("../img/icon/check.svg") 0 0 no-repeat;
	margin: 0px 16px -2px -32px;
}

.footer__container {
	max-width: 810px;
	margin: 0px auto;
	font-size: 0;
	font-family: "Lato";
	padding: 0px 0px 35px 0px;
}
.footer__tags {
	display: inline-block;
}
.tags {
}
.tags__title {
	display: inline-block;
	font-weight: bold;
	font-size: 16px;
	line-height: 1.6;
	color: #1e212c;
	margin: 0px 12px 0px 0px;
}
.tags__tag {
	display: inline-block;
	border: 1px solid #d7dadd;
	border-radius: 4px;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.5;
	color: #787a80;
	margin: 0px 12px 0px 0px;
	align-items: center;
	padding: 5.5px 16px;
}
.footer__tags a:last-child {
	margin: 0px 0px 0px 0px;
}
.footer__share {
	display: block;
	width: 142px;
	margin: -32px 0px 0px auto;
}
.footer__share div:last-child {
	margin: 0px 0px 0px 0px;
}

.wrapper-2 {
	background: linear-gradient(353deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
	min-height: 100%;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.game__container {
	width: 1200px;
	margin: 0px auto;
	padding: 40px 0px 0px 0px;
	font-size: 0;
}
.game__play {
}
.game__start {
	display: block;
	width: 100px;
	height: 40px;
	font-size: 30px;
	margin: 0px 0px 0px -30px;
	text-align: center;
	text-transform: uppercase;
	padding: 5px 0px 0px 0px;
}
.game__dot {
	background-color: #fff;
	visibility: hidden;
	display: inline-block;
}
.game__dot-1 {
	width: 40px;
	height: 100px;
	margin: 0px 0px 0px 0px;
}
.game__start:hover + .game__dot-1,
.game__dot-1:hover {
	visibility: visible;
}
.game__dot-2 {
	width: 800px;
	height: 40px;
}
.game__dot-1:hover + .game__dot-2,
.game__dot-2:hover {
	visibility: visible;
}
.game__dot-3 {
	width: 35px;
	height: 300px;
	margin: 0px 0px 0px 805px;
}
.game__dot-2:hover + .game__dot-3,
.game__dot-3:hover {
	visibility: visible;
}
.game__dot-4 {
	width: 150px;
	height: 30px;
}
.game__dot-3:hover + .game__dot-4,
.game__dot-4:hover {
	visibility: visible;
}
.game__dot-5 {
	width: 30px;
	height: 150px;
}
.game__dot-4:hover + .game__dot-5,
.game__dot-5:hover {
	visibility: visible;
}
.game__dot-6 {
	width: 100px;
	height: 30px;
	margin: 0px 0px 120px 0px;
}
.game__dot-5:hover + .game__dot-6,
.game__dot-6:hover {
	visibility: visible;
}
.game__dot-7 {
	width: 25px;
	height: 150px;
	margin: 0px 0px 120px 0px;
}
.game__dot-6:hover + .game__dot-7,
.game__dot-7:hover {
	visibility: visible;
}
.game__dot-8 {
	width: 150px;
	height: 25px;
	margin: 0px 0px 270px -150px;
}
.game__dot-7:hover + .game__dot-8,
.game__dot-8:hover {
	visibility: visible;
}
.game__dot-9 {
	width: 25px;
	height: 100px;
	margin: 0px 0px 190px -150px;
}
.game__dot-8:hover + .game__dot-9,
.game__dot-9:hover {
	visibility: visible;
}
.game__link {
	display: block;
	font-size: 15px;
	width: 100px;
	height: 50px;
	margin: -240px 0px 0px 1020px;
	padding: 17px 0px 0px 0px;
	text-align: center;
	color: #000;
	text-transform: uppercase;
}
.game__dot-9:hover + .game__link,
.game__link:hover {
	visibility: visible;
}
